<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>统计</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/layui-src@2.5.5/dist/css/layui.css">
</head>
<body>

    <!-- 你的HTML代码 -->

    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md12">
                <div style="" id="get_request_num_by_secends"></div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md12">
                <div style="" id="get_request_num_by_citys"></div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md6">

              <div style="" id="get_request_num_by_ip"></div>

            </div>
            <div class="layui-col-md6">

              <div style="" id="get_request_num_by_url"></div>

            </div>
        </div>

        移动设备、平板、桌面端的不同表现：
        <div class="layui-row">
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
              移动：6/12 | 平板：6/12 | 桌面：4/12
            </div>
            <div class="layui-col-xs6 layui-col-sm6 layui-col-md4">
              移动：6/12 | 平板：6/12 | 桌面：4/12
            </div>
            <div class="layui-col-xs4 layui-col-sm12 layui-col-md4">
              移动：4/12 | 平板：12/12 | 桌面：4/12
            </div>
            <div class="layui-col-xs4 layui-col-sm7 layui-col-md8">
              移动：4/12 | 平板：7/12 | 桌面：8/12
            </div>
            <div class="layui-col-xs4 layui-col-sm5 layui-col-md4">
              移动：4/12 | 平板：5/12 | 桌面：4/12
            </div>
        </div>
    </div>



<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/layui-src@2.5.5/dist/layui.js"></script>
<script src="http://cdn.highcharts.com.cn/highstock/highstock.js"></script>



<script>
    //一般直接写在一个js文件中
    layui.use(['layer', 'form'], function(){
      var layer = layui.layer
      ,form = layui.form;


    });

    var host = 'http://127.0.0.1:5000'
    Highcharts.setOptions({
        global: {
            useUTC: false,

        }
    });
    //实时每秒的请求量
    function get_request_num_by_secends(){
        var init_request_url = '/get_request_num_by_secends?type=init'
        var secend_request_url = '/get_request_num_by_secends'

        function filter_msg_data(d){
            _data = []

            $.each(d,function (k,v) {
                item = []
                item[0] = v.timestamp
                item[1] = v.total_request_num
                _data.push(item)
            })
            return _data
        }


        $.getJSON(host + init_request_url,function (msg) {

            init_data = filter_msg_data(msg.data)

            // 图表配置
            var options = {
                chart: {
                    type: 'spline',
                    events:{
                        load:function(){


                            var series = this.series[0];
                            setInterval(function () {

                                $.getJSON(host + secend_request_url,function (msg) {
                                    subdata = filter_msg_data(msg.data)

                                    $.each(subdata,function (k,v) {
                                        series.addPoint([ v[0], v[1] ], true, true);
                                    })

                                })

                            }, 5000);
                        }
                    }
                },
                credits: {
                    enabled: false//不显示LOGO
                },
                title: {
                        text: '今日请求量实时统计'
                },
                rangeSelector: {
                    buttons: [
                        {
                            count: 1,
                            type: 'minute',
                            text: '1分钟'
                        },
                        {
                            count: 5,
                            type: 'minute',
                            text: '5分钟'
                        },
                        {
                            count: 10,
                            type: 'minute',
                            text: '10分钟'
                        },
                        {
                            type: 'all',
                            text: '所有'
                        }
                    ],
                    inputEnabled: false,
                    selected: 0
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: '请求量'
                    }
                },
                tooltip: {
                    //保留小数点后两位
                    valueDecimals: 0,
                    formatter: function () {
                        return '<b>请求量 : ' + this.y +'</b> <br/> <b>时间 : ' + Highcharts.dateFormat('%Y-%m-%d %H:%M:%S',this.x) + '</b>';

                    }

                },
                series: [{                              // 数据列
                    name: '请求量',                        // 数据列名
                    data: init_data      // 数据
                }],


            };
            // 图表初始化函数
            var chart = Highcharts.stockChart('get_request_num_by_secends', options);
        })

    }
    get_request_num_by_secends()

    // 请求量前50IP占比
    function get_request_num_by_ip() {
        var init_request_url = '/get_request_num_by_ip?type=init'
        var secend_request_url = '/get_request_num_by_ip'
        function filter_msg_data(data) {
            var _data = []

            $.each(data,function (k,v) {
                var item = {}
                item.name = v.ip
                item.y = v.percent
                _data.push(item)
            })
            return _data
        }

        $.getJSON(host + init_request_url ,function (msg) {

            var data = filter_msg_data(msg.data)

            var options = {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        events: {
                            load:function(){

                                var series = this.series[0];
                                setInterval(function () {
                                    $.getJSON(host + init_request_url,function (msg) {
                                        subdata = filter_msg_data(msg.data)
                                        series.setData(subdata)
                                    })

                                }, 5000);
                            }
                        }
                    },
                    credits: {
                        enabled: false//不显示LOGO
                    },
                    title: {
                        text: '今日请求量前50IP占比'
                    },
                    tooltip: {
                        pointFormat: '{series.name} : <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: '请求占比',
                        colorByPoint: true,
                        data: data
                    }]
                }
            Highcharts.chart('get_request_num_by_ip',options);
        })
    }
    get_request_num_by_ip()

    // 被请求的url前50IP占比
    function get_request_num_by_url() {
        var init_request_url = '/get_request_num_by_url?type=init'
        var secend_request_url = '/get_request_num_by_url'
        function filter_msg_data(data) {
            var _data = []

            $.each(data,function (k,v) {
                var item = {}
                item.name = v.ip
                item.y = v.percent
                _data.push(item)
            })
            return _data
        }

        $.getJSON(host + init_request_url ,function (msg) {

            var data = filter_msg_data(msg.data)

            var options = {
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie',
                        events: {
                            load:function(){

                                var series = this.series[0];
                                setInterval(function () {
                                    $.getJSON(host + init_request_url,function (msg) {
                                        subdata = filter_msg_data(msg.data)
                                        series.setData(subdata)
                                    })

                                }, 5000);
                            }
                        }
                    },
                    credits: {
                        enabled: false//不显示LOGO
                    },
                    title: {
                        text: '今日页面请求量前50IP占比'
                    },
                    tooltip: {
                        pointFormat: '{series.name} : <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                }
                            }
                        }
                    },
                    series: [{
                        name: '请求占比',
                        colorByPoint: true,
                        data: data
                    }]
                }
            Highcharts.chart('get_request_num_by_url',options);
        })
    }
    get_request_num_by_url()

    // 请求来源地域
    function get_request_num_by_citys() {
        $.getJSON('https://data.jianshukeji.com/jsonp?filename=geochina/china.json&callback=?', function(mapdata) {
            console.log(mapdata)
            var data = [{
                name: '北京',
                value: 5000
            },{
                name: '上海',
                value: 2000
            },{
                name: '广东',
                value: 2200
            },{
                name: '浙江',
                value: 1800
            },{
                name: '福建',
                value: 1000
            }];
            var options = {
                title: {
                    text: '中国地图'
                },
                mapNavigation: {
                    enabled: true,
                    buttonOptions: {
                        verticalAlign: 'bottom'
                    }
                },
                colorAxis: {
                    min: 0,
                    minColor: '#fff',
                    maxColor: '#006cee',
                    labels:{
                        style:{
                            "color":"red","fontWeight":"bold"
                        }
                    }
                },
                series: [{
                    data: data,
                    mapData: mapdata,
                    joinBy: 'name',
                    name: '中国地图'
                }]
            }
            console.log(Highcharts.mapChart)
            console.log(Highcharts.map)
            //console.log(Highcharts.ma)
            //var map =  Highcharts.mapChart('get_request_num_by_citys', options);
        });
    }
    get_request_num_by_citys()

</script>
</body>
</html>