<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        参考
        https://help.aliyun.com/document_detail/56728.html
        <h1>请求最多的IP</h1>
        <form action="/get_ip_info" method="get">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="请求最多的IP">
        </form>

        <h1>请求最多的url</h1>
        <form action="/get_ip_info" method="get">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="请求最多的url">
        </form>


        <h1>某个ip在某个时间请求的信息</h1>
        <form action="/get_ip_info" method="get">
             ip: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="某个ip在某个时间请求的信息">
        </form>


        <h1>某个url在某个时间被请求的信息</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="某个url在某个时间被请求的信息">
        </form>

        <h1>UA统计</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>

        <h1>流量统计</h1>
        <h2>um(body_bytes_sent) as net_out, sum(request_length) as net_in</h2>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>


        <h1>来源统计</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>


        <h1>请求状态统计</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>

        <h1>请求方法统计</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>


        <h1>请求时间统计</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>


        <h1>ip地域统计</h1>
        <form action="/get_ip_info" method="get">
             url: <input name="username" value="">
             开始时间: <input name="username" value="">
             截止时间: <input name="password" value="">
            <input type="submit" value="在某个时间 浏览器agent信息">
        </form>

</body>
</html>