<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>

<body>
    <div class="main-content">

        <div style="height: 300px;width: 300px;border: 1px solid black; " id="ip_map"></div>


    </div>

    <script>
          // 图表配置
        var options = {
            chart: {
                type: 'spline'                          //指定图表的类型，默认是折线图（line）
            },
            credits: {
                enabled: false//不显示LOGO
            },
            title: {
		            text: '请求量实时统计'
	        },
            xAxis: {
                type: 'datetime',
                tickPixelInterval: 150
            },
            yAxis: {
                title: {
                    text: '请求量'
                }
            },
            series: [{                              // 数据列
                name: '小明',                        // 数据列名
                data: [1, 0, 4]                     // 数据
            }],
            tooltip: {
                formatter: function () {
                    console.log(this.series.name)
                   // return '<b>' + this.series.name + '</b><br/>' +
                   //     Highcharts.dateFormat('%Y-%m-%d %H:%M:%S', this.x) + '<br/>' +
                   //     Highcharts.numberFormat(this.y, 2);
                }
            },

        };
        // 图表初始化函数
        var chart = Highcharts.chart('ip_map', options);
    </script>
</body>
</html>